
#caixa{
    border: 2px solid black;
    position: absolute;
    top: 37%;
    left: 41%;
    background-color: rgb(98, 189, 250);
}

.content{
    margin: 12%;
}

#button a{
    text-decoration: none;
    color: black;
}
